<div class="text-center">
  <h1>Sophie Gaget</h1>
  <p>Naturopathe</p>
</div>

<div class="about">
  <h2>Moi</h2>
  <p>Naturopathe formée à ......</p>
  <p>Ma, philosophie .....</p>
  <p>Découvrez les formules que je vous propose...</p>
</div>

<div class="packages">
  <h2>Formules</h2>
  <ul>
    <% @packages.each do |package|%>
      <li><%= link_to package.title, package_path(package) %> - <%= package.price %>€</li>
      <li><%= package.description %></li>
      <br>
    <% end %>
    <li><%= link_to "Voir toutes les formules / Prendre rendez-vous", packages_path %></li>
  </ul>
</div>

<div class="articles">
  <h2>Dernières publications sur le blog</h2>
  <ul>
    <% @articles.each do |article|%>
      <li><%= article.title %> </li>
      <li><%= article.sub_title %></li>
      <li><%= link_to "Lire l'Article", lines.article_path(article) %></li>
      <br>
    <% end %>
    <li><%= link_to "Lire tous les articles", lines.articles_path %></li>

  </ul>
</div>

<div class="testimonials">
  <h2>La parole à mes clients</h2>
  <p>Témoignage 1</p>
  <p>Témoignage 2</p>
  <p>Témoignage 3</p>
  <%= link_to "Voir plus de témoignages", "#" %>
</div>
